<div class="bg-login-1" style='padding-bottom: 25%'>
</div>
<div class="container mb-5 pb-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!--Section: Live preview-->
            <section class="form-dark">

                <!--Form without header-->
                <div class="card card-image" style="background-image: url('/assets/images/bg-login-2.png'); width: 28rem;">
                    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">

                        <!--Header-->
                        <div class="text-center">
                            <h3 class="white-text mb-5 mt-4 font-weight-bold"><a>Авторизация</a></h3>
                        </div>
                    <form method="post" action="/session/create">
                        <!--Body-->
                        <div class="md-form">
                            <input  name="username" type="text" id="Form-email5" class="form-control white-text">
                            <label for="Form-email5">NickName</label>
                        </div>

                        <div class="md-form pb-3">
                            <input name="password" type="password" id="Form-pass5" class="form-control white-text">
                            <label for="Form-pass5">Password</label>
                        </div>

                        <!--Grid row-->
                        <div class="row d-flex align-items-center mb-4">

                            <!--Grid column-->
                            <div class="text-center mb-3 col-md-12">
                                <button formmethod="post" type="submit" class="btn btn-rounded btn-block btn-rounded z-depth-1">Авторизоваться</button>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </form>


                    </div>
                </div>
                <!--/Form without header-->

            </section>
            <!--Section: Live preview-->
        </div>
        <div class="col-md-4"></div>
    </div>
</div>