<main class="mt-5 pt-5 mb-5 pb-5">
    <div class="container">
       <div class="row">
           <!-- Card -->
           <div class="card card-cascade wider reverse">

               <!-- Card content -->
               <div class="card-body card-body-cascade text-center">

                   <!-- Title -->
                   <h4 class="card-title text-black-50"><span>Makkord </span><img class="pb-2" height="40px" src="/assets/images/logo.png"><span class="pl-2">RolePlay</span></h4>
                   <!-- Subtitle -->
                   <h6 class="font-weight-bold indigo-text py-2">Наша история</h6>
                   <!-- Text -->
                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.
                   </p>

                   <a class="btn-floating btn-sm btn-vk" type="button" role="button" href="https://vk.com/makkord_rp"><i class="fab fa-vk"></i></a>
                   <a class="btn-floating btn-sm btn-yt" type="button" role="button"><i class="fab fa-youtube"></i></a>

               </div>

           </div>
           <!-- Card -->
       </div>
    </div>
</main>