<div class="bg-3" style='padding-bottom: 25%'>
    <h2 class="pt-5 text-center text-white font-weight-bold">КАК НАЧАТЬ ИГРАТЬ</h2>
</div>
<section class="hts">
    <div class="container">
        <br><br>
        <div class="row wow fadeInDown">
            <div class="col-sm-4">
                <p class="text-center"> <i class="text-center fa fa-laptop" style="font-size: 72px"></i></p>
                <p class="step text-center">ШАГ 01</p>
                <h4 class="hts-name text-center font-weight-bold">GTA CRIMINAL RUSSIA</h4>
                <h5 class="hts-desc text-center">Скачайте GTA Criminal Russia,<br> а затем установите</h5>
                <h5><a  href="http://downloads.arizona-rp.com/GTACR.zip" class="btn btn-rounded"><i class="fa fa-file-archive pr-1" aria-hidden="true"></i>&nbsp;ZIP файл</a>&nbsp;&nbsp;<a  href="#" class="disabled btn btn-rounded">.torrent файл</a></h5>
            </div>
            <div class="col-sm-4">
                <p class="text-center"> <i class="text-center fa fa-users" style="font-size: 72px"></i></p>
                <p class="step text-center">ШАГ 02</p>
                <h4 class="hts-name text-center font-weight-bold">CR-MP</h4>
                <h5 class="hts-desc text-center">Скачайте мультиплеер CR-MP,<br>и установите его в папку с игрой</h5>
                <h5 class="text-center">   <a href="http://downloads.arizona-rp.com/multiplayer-cr-g-install.exe" class="btn btn-rounded">СКАЧАТЬ</a><br></h5>
            </div>
            <div class="col-sm-4">
                <p class="text-center"> <i class="text-center fa fa-car" style="font-size: 72px"></i></p>
                <p class="step text-center">ШАГ 03</p>
                <h4 class="hts-name text-center font-weight-bold">МОДПАК</h4>
                <h5 class="hts-desc text-center">Можете скачать наш модпак<br> для более комфортной игры</h5>
                <h5 class="text-center">   <a href="#" class="btn btn-rounded disabled">Скачать</a><br></h5>
            </div>
        </div>
        <div class="row mt-5 wow fadeInDown">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <p class="text-center"> <i class="text-center fa fa-check-circle" style="font-size: 72px"></i></p>
                <p class="step text-center">ШАГ 04</p>
                <h4 class="hts-name text-center font-weight-bold">НАЧИНАЙ ИГРУ</h4>
                <h5 class="hts-desc text-center">Запусти мультиплеер.<br>
                    В поле NAME введите свой ник.<br>
                    Нажмите на <img width="20px" style="margin: 0px;" src="/assets/images/cheks.png"/> и добавьте<br>
                    наш сервер в избранное.</h5>
            </div>
        </div>

        <div class="row wow fadeInUp mt-5 mb-5" style="background: #7289DA; border-radius: 30px 0 30px 0;">
            <div class="col-sm-2 ml-4 mt-2">
                <img width="100%" src="/assets/images/Discord-Logo-White (1).png">
            </div>
            <div class="col-sm-6 mt-5">
                <br>
                <h4 class="text-white font-weight-bold">ПРИСОЕДИНЯЙСЯ К НАМ В DISCORD</h4>
            </div>
            <div class="col-sm-3 mt-5">
                <a class="btn white-text" style="background: #23272A">Узнать больше</a>
            </div>


        </div>
    </div>
</section>